.headerDetails {
  display: flex;
  justify-content: space-between;
  color: var(--gray-8);
  font-weight: 500;
}

.headerItem {
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 0.2rem solid var(--gray-1);
  transition: all 0.3s linear;
}

.headerItem:hover {
  border-bottom: 0.2rem solid var(--primary);
  color: var(--gray-9);
}
